In [ ]:
a=int(input("Enter the percentage you get: "))
if(a>=90):
  print("A Grade")
if(a>=70 and a<90):
  print("B Grade")
if(a>=55 and a<70):
  print("C Grade")
if(a>=40 and a<55):
  print("D Grade")
if(a<40):
  print("You Failed the Exam")

Enter the percentage you get: 99
A Grade

In [ ]:
Fruits=["Apple","Banana","Mango","Graphs"]
for x in Fruits:
  print(x)

Apple
Banana
Mango
Graphs

In [ ]:
for x in "ISTYAK":
  print(x)

I
S
T
Y
A
K

In [ ]:
for x in range(25):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [ ]:
for x in range(15,25):
  print(x)

15
16
17
18
19
20
21
22
23
24

In [ ]:
def tabel(a):
  x=a
  i=1
  while(i<=10):
    print( x ,"x", i ,"=",x*i)
    i=i+1

a=int(input("Enter the Number: "))
tabel(a)

Enter the Number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
def fname(name):
  print(name + " king")

name=input("Enter Name : ")
fname(name)

Enter Name : Istyak
Istyak king

In [ ]:
a="Python is best for coding"
b=len(a)
c=a.find("is")
print(a)
print(b)
print(c)

Python is best for coding
25
7

In [ ]:
s="Hello i am the one and only best person here"
print(s[0:30:4])

Hoahnnnb

In [ ]:
print(s[::-1])

?ereh nosrep tseb ylno dna eno eht ma i olleH

In [ ]:
print(s)

Hello i am the one and only best person here?

In [ ]:
print(s.upper())

HELLO I AM THE ONE AND ONLY BEST PERSON HERE?

In [ ]:
aa=s.upper()

In [ ]:
print(aa)

HELLO I AM THE ONE AND ONLY BEST PERSON HERE?

In [ ]:
print(aa.lower())

hello i am the one and only best person here?

In [ ]:
print(s.replace("i am","Istyak you are"))

Hello Istyak you are the one and only best person here

In [ ]:
l=[1,1,2,2,3,3]
a=0

for i in range(len(l)):
  a=a + l[i]
print(a)

12

In [ ]:
l=[1,1,2,2,3,3]
a=1

for i in range(len(l)):
  a=a * l[i]
print(a)

36

In [ ]:

n=int(input("Enter the number of elements you want to add in tupel :"))
l=[0,0,0,0,0,0,0,0,0,0,01]
for i in range(n):
  l[i]=input("Enter the element :")
m=tuple(l)
print(m)

Enter the number of elements you want to add in tupel :4
Enter the element :1
Enter the element :1
Enter the element :2

In [ ]:
tup=("a","b","c")
for x in tup:
  print(x)

a
b
c

In [ ]:
li=[1,1,2,3,4,5,6]
for x in li:
  print(x)

1
1
2
3
4
5
6

In [ ]:
tup1=(1,2,3,4,4)
tup2=(2,31,2,2,3,4,2)
tup3=tup1+tup2
print(tup3)

(1, 2, 3, 4, 4, 2, 31, 2, 2, 3, 4, 2)

In [ ]:
t=()
i=0
n=int(input("Enter the Number of Elements You want in Tuple :"))
while(i<
      n):
  num=int(input("Enter the Element: "))
  t=t+(num,)
  i=i+1

print(t)

Enter the Number of Elements You want in Tuple :5
Enter the Element: 1
Enter the Element: 2
Enter the Element: 3
Enter the Element: 4
Enter the Element: 6
(1, 2, 3, 4, 6)

In [ ]:
dic={'id':'123','name':'istyak','gender':'male','age':21}
print(dic)

{'id': '123', 'name': 'istyak', 'gender': 'male', 'age': 21}

In [ ]:
print(dic['name'])

istyak

In [ ]:
x=dic.keys()
print(x)

dict_keys(['id', 'name', 'gender', 'age'])

In [ ]:
print(dic.get("name"))

istyak

In [ ]:
print(dic.values())

dict_values(['123', 'istyak', 'male', 21])

In [ ]:
dic.update({"Email id":"istyak@gmail.com"})

In [ ]:
print(dic)

{'id': '123', 'name': 'istyak', 'gender': 'male', 'age': 21, 'Email id': 'istyak@gmail.com'}

In [ ]:
dic.pop("age")

21

In [ ]:
print(dic)

{'id': '123', 'name': 'istyak', 'gender': 'male', 'Email id': 'istyak@gmail.com'}

In [ ]:
dic={'id':'123','name':'istyak','gender':'male','age':21}
dic.update({"Email id":"istyak@gmail.com"})
print(dic)

{'id': '123', 'name': 'istyak', 'gender': 'male', 'age': 21, 'Email id': 'istyak@gmail.com'}

In [ ]:

print(dic)

{'id': '123', 'name': 'istyak', 'gender': 'male', 'Email id': 'istyak@gmail.com'}

In [ ]:
del dic

In [ ]:
dic={'id':'123','name':'istyak','gender':'male','age':21}
dic.update({"Email id":"istyak@gmail.com"})
print(dic)

{'id': '123', 'name': 'istyak', 'gender': 'male', 'age': 21, 'Email id': 'istyak@gmail.com'}

In [ ]:
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic4={}
for d in (dic1,dic2,dic3):dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
di={}
n=int(input("Enter the number of Key Value pairs you want in Dictionary :"))
i=0
while(i<n):
  k=int(input("Enter the key :"))
  di.update({k:k**2})
  i=i+1

print(di)

Enter the number of Key Value pairs you want in Dictionary :5
Enter the key :1
Enter the key :2
Enter the key :3
Enter the key :4
Enter the key :5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
dic={'id':'123','name':'istyak','gender':'male','age':21}
dic.update({"Email id":"istyak@gmail.com"})
k=input("Enter the key :")
if(k in dic):
    print("Key Already Exist")
    exit
else:
  v=input("Enter the value for key :")
  dic.update({k:v})

print(dic)

Enter the key :name
Key Already Exist
{'id': '123', 'name': 'istyak', 'gender': 'male', 'age': 21, 'Email id': 'istyak@gmail.com'}

In [ ]:
dic

{'id': '123',
 'name': 'istyak',
 'gender': 'male',
 'age': 21,
 'Email id': 'istyak@gmail.com',
 'beard': 'yes'}

In [ ]:
ss={"apple","banana","orange"}
print(s)

{'4', '2', '5', '3', '1'}

In [ ]:
st={"1","2","3","4","5"}
for x in s:
  print(x)

4
2
5
3
1

In [ ]:
print("5" in st)

NameError: ignored

In [ ]:
st.add(66)
print(st)

{'4', '2', 66, '5', '3', '1'}

In [ ]:
st.update(ss)

In [ ]:
print(st)

{'4', 66, '5', '3', 'banana', '1', '2', 'apple', 'orange'}

In [ ]:
e={1,2,3,4,5}
f={4,5,6,7,8,9}
ff=e.union(f)
print(ff)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
print(e.intersection(f))

{4, 5}

In [ ]:
print("Maximum value of ff set is : ", max(ff))
print("Minimum value of ff set is : ", min(ff))

Maximum value of ff set is :  9
Minimum value of ff set is :  1

In [ ]:
mm=set((2,3,4,"name"))
print(mm)

{2, 3, 4, 'name'}